{
    "ignoreMsiWithNoMutations": true,
    "logs": {
        "text": ".build/infection/infection-log.txt"
    },
    "minCoveredMsi": 55,
    "minMsi": 55,
    "phpUnit": {
        "configDir": "./"
    },
    "source": {
        "directories": [
            "src"
        ]
    },
    "timeout": 10
}
